
//    Font Family

$primary-font	: 'Fira Code', sans-serif;
$title-font     : 'Chonburi', sans-serif;
// font-family: 'Fira Code', monospace;
// font-family: 'Fira Code', monospace;
/*--------------------------- Color variations ----------------------*/

$primary-color	: #1800ff;
$primary-color2	: #1c013b;
$primary-color3	: #592e9e;
$title-color	: #1c013b;
$text-color		: #000000;
$baseColor: #1c013b; 
$dip: #222222;
$pfont: #000000;
$white			: #6c00e7;
$black			: #000;
$offwhite: #0f0031;

/*--------------------------- Fonts ----------------------*/

// @import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500');
//   @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Fira+Code:wght@300;400;500;600;700&display=swap');



